# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/
/drizzle/
.vercel/

# Generated
.svelte-kit/
project.inlang/.meta.json
project.inlang/cache/
project.inlang/README.md
src/lib/paraglide/
src/paraglide/
test-results/
